#Home{
    position: relative;
    background-color: #000;
    background: url("../../images/HomeBg.jpg") no-repeat center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#Home::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.75;
    background-color: #000;
    background-size: cover;
}